<!DOCTYPE html>
<html lang="en">
<title>Images</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body{
	margin:0;
	padding:0;
}
/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	width:303px;
	float:left;
	margin-bottom:10px;
}

img.img-fluid {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }

#magic_{{ last_img_id }} {
    border: solid limegreen;
}
</style>
<body>

    {% include "display/header.html" %}

    <nav aria-label="...">
        <ul class="pagination">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link">&laquo; First</a>
            </li>
            <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
            </li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

            {% if page_obj.has_next %}
            <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
            </li>
            <li class="page-item">
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last&raquo;</a>
            </li>
            {% endif %}
            <li class="page-item">
            <a href="?page={{ last_img_page }}" class="page-link">LAST CHECKED</a>
            </li>

            <li class="page-item">
            <form class="form-inline my-2 my-lg-0" method="get" action="{%url 'images' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="gotopage" aria-label="GoToPage" size="5" name="gotopage">
                <button style="margin-right:10px" class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
            </form>
            </li>

            <li class="page-item">
                <form class="form-inline my-2 my-lg-0" method="get" action="{%url 'search_images' %}">
                    <button style="margin-right:10px" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" size="80" name="search">
                  <datalist id="suggestions">
                    <option value="Name"></option>
                    <option value="Tag"></option>
                </datalist>
                <input name="by"  autoComplete="on" list="suggestions"/> 
                </form>
            </li>

        </ul>
    </nav>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    
    <!-- !PAGE CONTENT! -->
     <div class="container-fluid">
             <div class="row">
                <div class="col-lg-12 text-center my-2">
                   <h4>Images</h4>
                </div>
             </div>
             <div class="portfolio-item row">

                {% if page_obj %}

                {% for image in page_obj %}
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                    <a href="{{ image.img_tag }}" class="fancylight popup-btn" data-fancybox-group="light" title="{{ image.name }}">
                    <img id="magic_{{ image.id }}" class="img-fluid" src="{{ image.img_tag }}" alt="{{ image.name }}">

                    <div style="display: inline-block;">
                        <a type="button" class="btn btn-success" href="{% url 'setlastimg' image.id page_obj.number %}">Set last image</a>
                    </div>
                    <div style="display: inline-block; margin-left: 200px;">
                        <a type="button" class="btn btn-primary" target="_blank" href="{{ image.link }}">See Original</a>
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <p>No polls are available.</p>
                {% endif %}

             </div>
          </div>

        <!-- Pagination -->
        <nav aria-label="...">
            <ul class="pagination">
    
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page=1" class="page-link">&laquo; First</a>
                </li>
                <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                </li>
                {% endif %}
    
                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
    
                {% if page_obj.has_next %}
                <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                </li>
                <li class="page-item">
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last&raquo;</a>
                </li>
                {% endif %}
                <li class="page-item">
                <a href="?page={{ last_img_page }}" class="page-link">LAST CHECKED</a>
                </li>
    
                <li class="page-item">
                <form class="form-inline my-2 my-lg-0" method="get" action="{%url 'images' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="gotopage" aria-label="GoToPage" size="5" name="gotopage">
                    <button style="margin-right:10px" class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
                </form>
                </li>
    
                <li class="page-item">
                    <form class="form-inline my-2 my-lg-0" method="get" action="{%url 'search_images' %}">
                        <button style="margin-right:10px" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" size="80" name="search">
                      <datalist id="suggestions">
                        <option value="Name"></option>
                        <option value="Tag"></option>
                    </datalist>
                    <input name="by"  autoComplete="on" list="suggestions"/> 
                    </form>
                </li>
    
            </ul>
        </nav>
        
    </div>

    <script>
         $(document).ready(function() {
         var popup_btn = $('.popup-btn');
         popup_btn.magnificPopup({
         type : 'image',
         gallery : {
         	enabled : true
         }
         });
         });
    </script>
</body>

</html>